.m-index body {
  background: #f1f1f1;
}
#appbar {
  border-bottom: none;
}
.panel-cards.panel-borderless {
  border: none;
}
.panel-cards.panel-borderless .panel-heading,
.panel-cards.panel-borderless .card {
  border: none;
  box-shadow: none;
}
.panel-cards.panel-borderless .card {
  background: transparent;
}
.text-price {
  color: #ea644a;
}
